
{% load static %}
{% block sidebar %}
  <!-- ========== App Menu ========== -->
  <div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
      <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover"><i class="ri-record-circle-line"></i></button>
    </div>
    <div id="scrollbar">
      <div class="container-fluid">
        <div id="two-column-menu"></div>
        <ul class="navbar-nav" id="navbar-nav">
          <li class="menu-title">
            <span data-key="t-menu">ADMIN PANEL</span>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarDashboards" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarDashboards"><i class="mdi mdi-monitor-dashboard"></i> <span data-key="t-dashboards">Dashboard</span></a>
            <div class="collapse menu-dropdown" id="sidebarDashboards">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="{% url 'dashboards:dashboard' %}" class="nav-link" data-key="t-analytics"><i class="mdi mdi-google-analytics"></i>Analytics</a>
                </li>
              </ul>
            </div>
          </li>
          <!-- end Dashboard Menu --> {% endcomment %}
          <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarApps" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarApps"><i class="mdi mdi-account-tie"></i> <span data-key="t-dashboards">Unity Model</span></a>
            <div class="collapse show menu-dropdown" id="sidebarApps">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="{% url 'report:report_list' %}" class="nav-link"><i class="mdi mdi-newspaper-variant-outline"></i>Report</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'entity:entity_list' %}" class="nav-link"><i class="mdi mdi-office-building"></i>Entity</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'frequency:frequency_list' %}" class="nav-link"><i class="mdi mdi-signal-distance-variant"></i>Frequency</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'kpi:kpi_group_list' %}" class="nav-link"><i class="mdi mdi-finance"></i>KPI Group</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'kpi:kpi_sub_group_list' %}" class="nav-link"><i class="mdi mdi-finance"></i>KPI Sub Group</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'kpi:kpi_list' %}" class="nav-link"><i class="mdi mdi-finance"></i>KPI</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'status:status_group_list' %}" class="nav-link"><i class="mdi mdi-list-status"></i>Status Group</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'status:status_list' %}" class="nav-link"><i class="mdi mdi-list-status"></i>Status</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'status:status_criteria_list' %}" class="nav-link"><i class="mdi mdi-list-status"></i>Status Criteria</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'targets:targets_list' %}" class="nav-link"><i class="mdi mdi-target"></i>Targets</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'trend:trend_list' %}" class="nav-link"><i class="mdi mdi-trending-up"></i>Trend</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'trend:trend_criteria_list' %}" class="nav-link"><i class="mdi mdi-trending-up"></i>Trend Criteria</a>
                </li>
              </ul>
            </div>
            <a class="nav-link menu-link" href="#upcoming_models" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="upcoming_models"><i class="mdi mdi-account-tie"></i> <span data-key="t-dashboards">Upcoming Models</span></a>
            <div class="collapse show menu-dropdown" id="upcoming_models">
              <ul class="nav nav-sm flex-column">
                <li class="nav-item">
                  <a href="{% url 'attribute:attribute_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Attribute</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'collection:collection_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Collection</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'class:class_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Class</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'connection:connection_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Connection</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'interface:interface_category_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Interface Category</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'interface:interface_type_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Interface Type</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'interface:interface_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Interface</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'interface:interface_dependence_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Interface Dependence</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'pattern:load_pattern_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Load Pattern</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'role:role_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Role</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'rolecollectionaccess:rolecollectionaccess_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Role Collection Access</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'statusupcoming:statusupcoming_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Status Upcoming</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'schedule:schedule_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Schedule</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'Task:Task_list' %}" class="nav-link"><i class="mdi mdi-note"></i>Task</a>
                </li>
              </ul>
            </div>
            <a class="nav-link menu-link" href="#logsmodel" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="logsmodel"><i class="mdi mdi-account-tie"></i> <span data-key="t-dashboards">Logs Models</span></a>
            <div class="collapse show menu-dropdown" id="logsmodel">
              <ul class="nav nav-sm flex-column">
            <li class="nav-item">
              <a href="{% url 'logs:APIIngestionBatchStatusLog_list' %}" class="nav-link"><i class="mdi mdi-view-list"></i>API Ingestion Batch Status Logs</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logs:CheckpointLogLog_list' %}" class="nav-link"><i class="mdi mdi-view-list"></i>Check Point Logs</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logs:AuditLog_list' %}" class="nav-link"><i class="mdi mdi-view-list"></i>Audit Logs</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logs:RunLog_list' %}" class="nav-link"><i class="mdi mdi-view-list"></i>Run Logs</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logs:RunStepLog_list' %}" class="nav-link"><i class="mdi mdi-view-list"></i>RunStep Logs</a>
            </li>
          </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- Sidebar -->
  </div>
  <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay -->
<div class="vertical-overlay"></div>
{% endblock %}
<script>
var currentUrl = window.location.href;
var temp;
var rootWord = currentUrl.split('/')[3];
if (rootWord == 'interface' && ['dependence', 'type', 'category'].includes(currentUrl.split('/')[4])) {
  temp = currentUrl.split('/')[4];
  rootWord = rootWord + currentUrl.split('/')[4];
}
var listItems = document.querySelectorAll('.navbar-nav .nav-item');
listItems.forEach(function(listItem) {
    var link = listItem.querySelector('.nav-link');
    var href = link.getAttribute('href');
    console.log(href.split('/'))
    var hrefRootWord = href.split('/')[1];
    if (href, href.split('/').includes(temp)){
      link.classList.add('active');
      return;
    }
    else if (hrefRootWord === rootWord) {
      link.classList.add('active');
    }
});
</script>