{% extends "partials/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    Create Attribute
{% endblock title %}
{% block extra_css %}
    <!-- Plugins css -->
    <link href="{% static 'libs/dropzone/dist/dropzone.css' %}" rel="stylesheet" type="text/css"/>
    <!-- stylesheet for select2 -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% if object %}
                        {% include "partials/page-title.html" with pagetitle="Schedule" title="Update Schedule" %}
                    {% else %}
                        {% include "partials/page-title.html" with pagetitle="Schedule" title="Create Schedule" %}
                    {% endif %}
                {% endblock pagetitle %}
                <form action="" method="post" id="ScheduleForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">{{ form.Name|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3" id="frequency">{{ form.Frequency|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6" id="frequencyIntervalContainer">
                                            <div class="mb-3" id="frequencyInterval">{{ form.FrequencyInterval|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">{{ form.FrequencyRelativeInterval|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="mb-3">{{ form.FrequencyRecurrenceFactor|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">{{ form.FrequencySubDayType|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">{{ form.FrequencySubDayInterval|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">{{ form.ActiveStartDate|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">{{ form.ActiveEndDate|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">{{ form.ActiveStartTime|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">{{ form.ActiveEndTime|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">{{ form.IsEnabled|as_crispy_field }}</div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="mb-3">{{ form.Version|as_crispy_field }}</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card body -->
                            </div>
                            <!-- end card -->
                            <div class="text-end mb-4">
                                <a href="{% url 'schedule:schedule_list' %}" class="btn btn-light w-sm">Cancel</a>
                                <button type="submit" class="btn btn-success w-sm">
                                    {% if object %}
                                        Update
                                    {% else %}
                                        Create
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </form>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_content %}
{% endblock extra_content %}
{% block extra_js %}
<script>
    var bool = true;
    document.getElementById("id_FrequencyInterval").disabled = true;
    function updateFrequencyInterval() {
        if (bool){
            document.getElementById("id_FrequencyInterval").disabled = false;
            bool = false;
        }
        var frequencySelect = document.getElementById("id_Frequency");
        var frequencyIntervalContainer = document.getElementById("frequencyIntervalContainer");
        frequencyIntervalContainer.innerHTML = '';
        var selectedFrequency = frequencySelect.value;
        switch (selectedFrequency) {
            case '0': // Once
                addTextfield('Default to zero', '0');
                break;
            case '1': // Daily
                addTextfield('Default to 1234567', '1234567');
                break;
            case '2': // Weekly
                addWeekdayOptions();
                break;
            case '3': // Monthly
                addDayOptions();
                break;
            case '4': // Monthly Relative
                addRelativeOptions();
                break;
        }
    }
    function addTextfield(placeholder, defaultValue) {
        var inputField = document.createElement("input");
        inputField.type = "text";
        inputField.id = "frequencyInterval";
        inputField.name = "FrequencyInterval";
        inputField.placeholder = placeholder;
        inputField.value = defaultValue;
        inputField.className = "form-control";
        appendHeading("Frequency Interval*");
        document.getElementById("frequencyIntervalContainer").appendChild(inputField);
    }
    function addWeekdayOptions() {
        var dropdown = document.createElement("select");
        dropdown.id = "frequencyInterval";
        dropdown.name = "FrequencyInterval";
        dropdown.className = "form-control";
        for (var i = 1; i <= 7; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = getDayName(i);
            dropdown.appendChild(option);
        }
        appendHeading("Frequency Interval*");
        document.getElementById("frequencyIntervalContainer").appendChild(dropdown);
    }
    function addDayOptions() {
        var dropdown = document.createElement("select");
        dropdown.id = "frequencyInterval";
        dropdown.name = "FrequencyInterval";
        dropdown.className = "form-control";
        for (var i = 1; i <= 31; i++) {
            var option = document.createElement("option");
            option.value = i;
            option.text = i;
            dropdown.appendChild(option);
        }
        appendHeading("Frequency Interval*");
        document.getElementById("frequencyIntervalContainer").appendChild(dropdown);
    }
    function addRelativeOptions() {
        var dropdown = document.createElement("select");
        dropdown.id = "frequencyInterval";
        dropdown.name = "FrequencyInterval";
        dropdown.className = "form-control";
        var relativeOptions = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Weekday', 'Weekend'];
        for (var i = 0; i < relativeOptions.length; i++) {
            var option = document.createElement("option");
            option.value = i + 1; // Values start from 1
            option.text = relativeOptions[i];
            dropdown.appendChild(option);
        }
        appendHeading("Frequency Interval*");
        document.getElementById("frequencyIntervalContainer").appendChild(dropdown);
    }
    function getDayName(dayNumber) {
        var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        return days[dayNumber - 1];
    }
    function appendHeading(headingText) {
        var headingElement = document.createElement("label");
        headingElement.className = "form-label";
        headingElement.innerHTML = headingText;
        document.getElementById("frequencyIntervalContainer").appendChild(headingElement);
    }
</script>
    <!-- ckeditor -->
    <script src="{% static 'libs/@ckeditor/ckeditor5-build-classic/build/ckeditor.js'%}"></script>
    <!-- dropzone js -->
    <script src="{% static 'libs/dropzone/dist/dropzone-min.js'%}"></script>
    <!-- project-create init -->
    <script src="{% static 'js/pages/project-create.init.js'%}"></script>
    <!-- jquery.js-->
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <!-- for the script of select2-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#id_Frequency').select2({
                placeholder: 'Select an Option',
                minimumResultsForSearch: Infinity
            });
            $('#id_Frequency').on('change', function () {
                updateFrequencyInterval();
            });
        });
        $(document).ready(function() {
            $('#id_FrequencyInterval').select2({
                placeholder: 'Select Frequency first',
                minimumResultsForSearch: Infinity
            });
        });
        $(document).ready(function() {
            $('#id_FrequencyRelativeInterval').select2({
                placeholder: 'Select an Option',
                minimumResultsForSearch: Infinity
            });
        });
        $(document).ready(function() {
            $('#id_FrequencySubDayType').select2({
                placeholder: 'Select an Option',
                minimumResultsForSearch: Infinity
            });
        });
    </script>
{% endblock extra_js %}

