{% extends "partials/base.html" %}
{% load static %}
{% block title %}
    Load Pattern List
{% endblock title %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'js/DataTables/datatables.min.css' %}">
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Load Pattern" title="Load Pattern List" %}
                {% endblock pagetitle %}
                {% include "partials/messages.html" %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card"  id="tasksList">
                            <div class="card-header border-0">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title mb-0 flex-grow-1">All Load Patterns</h5>
                                    <div class="flex-shrink-0">
                                        <a role="button"
                                            href="{% url 'pattern:load_pattern_create' %}"
                                            class="btn btn-danger add-btn">
                                            <i class="ri-add-line align-bottom me-1"></i> Create Load Pattern
                                        </a>
                                    </div>
                                    <div class="flex-shrink-0 ml-2" style="margin-left:3px">
                                        <a id="deleteAllButton" style="display: none;" type="button" class="btn btn-danger add-btn">Delete All</a>
                                    </div>
                                </div>
                            </div>
                            <style>
                                /* Alert box styles */
                                .alert-admin {
                                    padding: 20px;
                                    background-color: #f44336; /* Red background color */
                                    color: white; /* White text color */
                                    margin-bottom: 15px;
                                    position: relative;
                                }
                                /* Close button styles */
                                .closebtn-admin {
                                    margin-left: 15px;
                                    color: white;
                                    font-weight: bold;
                                    float: right;
                                    font-size: 22px;
                                    line-height: 20px;
                                    cursor: pointer;
                                    transition: 0.3s;
                                }
                                .closebtn-admin:hover {
                                    color: black;
                                }
                            </style>
                            <!-- Custom alert box -->
                            <div id="customAlert" class="alert-admin" style="display: none;">
                                <span class="closebtn-admin" onclick="document.getElementById('customAlert').style.display='none';">&times;</span>
                                This action is only allowed for admin users.
                            </div>
                            <div class="card-body border border-dashed border-end-0 border-start-0">
                                <form>
                                    <div class="row g-3">
                                        <div class="col-xxl-5 col-sm-12">
                                            <div class="search-box">
                                                <input type="text"
                                                       class="form-control search bg-light border-light"
                                                       placeholder="Search..."
                                                       id="id_search">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </form>
                            </div>

                            <!--end card-body-->
                            <div class="card-body">
                                <div class="table-responsive table-card mb-4">
                                    <table class="table align-middle table-nowrap mb-0"
                                           id="LoadPatternTable">
                                           <thead class="table-light text-muted">
                                               <tr>
                                                <th>Action</th>
                                                <th data-data="code" data-name="code">Code</th>
                                                <th data-data="name" data-name="name">Name</th>
                                                <th data-data="ad_group_name" data-name="ad_group_name">AD Group Name</th>
                                                <th data-data="created_date" data-name="created_date">Created Date</th>
                                                <th data-data="created_by" data-name="created_by">Created By</th>
                                                <th data-data="updated_date" data-name="updated_date">Updated Date</th>
                                                <th data-data="updated_by" data-name="updated_by">Updated By</th>
                                            </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        </tbody>
                                    </table>
                                    <!--end table-->
                                </div>
                            </div>
                            <!--end card-body-->
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
                <div class="modal fade flip"
                     id="deleteOrder"
                     tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body p-5 text-center">
                                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                                <div class="mt-4 text-center">
                                    <h4>You are about to delete ?</h4>
                                    <p class="text-muted fs-14 mb-4">
                                        Deleting your task will remove all of
                                        your information from our database.
                                    </p>
                                    <div class="hstack gap-2 justify-content-center remove">
                                        <button class="btn btn-link btn-ghost-success fw-medium text-decoration-none"
                                                data-bs-dismiss="modal">
                                            <i class="ri-close-line me-1 align-middle"></i> Close
                                        </button>
                                        <a class="btn btn-danger" id="delete-record">Yes, Delete It</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end delete modal -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<!--datatable js-->
<script src="{% static 'js/DataTables/datatables.min.js' %}"></script>
<script src="{% static 'js/moment-2.29.2.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script type="text/javascript">
    var recordToDelete = new Set();

var table = $('#LoadPatternTable').DataTable( {
    serverSide: true,
    processing: true,
    order: [[5, 'desc']],
    "ajax": {
        "url": "/api/pattern/loadpattern/?format=datatables"
    },
    "dom": 'lrtip',
    "columnDefs": [
    {
        targets: 1,
        defaultContent: "-"
    },
    {
        targets: 2,
        defaultContent: "-"
    },
    {
        targets: 3,
        defaultContent: "-",
        searchable: false,
    },
    {
        targets: 4,
        searchable: false,
        render: (data, type, row)=>{
            return moment.utc(row.created_date).format('MMM DD, YYYY hh:mm A');
        }
    },
    {
        targets: 5,
        defaultContent: "-",
        searchable: false,
    },
    {
        targets: 6,
        searchable: false,
        render: (data, type, row)=>{
            return moment.utc(row.created_date).format('MMM DD, YYYY hh:mm A');
        }
    },
    {
        targets: 7,
        defaultContent: "-",
        searchable: false,
    },
    {
        targets: 0,  // 0 the first, 1 the second, etc.
        sortable: false,
        searchable: false,
        // The `data` parameter refers to the data for the cell.
        // The `rows`argument is an object representing all the data for the current row.
        render: ( data, type, row ) => {
            var isSuperuser = {% if request.user.is_superuser %}true{% else %}false{% endif %};

                if (isSuperuser) {
                    let editURL = "{% url 'pattern:load_pattern_update' pk=0 %}"
                    let deleteURL = "{% url 'pattern:load_pattern_delete' pk=0 %}";
                    let actions = `<ul class="list-inline hstack gap-2 mb-0">`;

                    actions += `<li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                        <a href="${editURL.replace('0', row.code)}" class="text-primary d-inline-block edit-item-btn">
                            <i class="ri-pencil-fill fs-16"></i>
                        </a>
                    </li>`;
                    actions += `<div class="form-check">
                        <input class="form-check-input checkbox" type="checkbox" value="${row.code}" id="checkboxID">
                        <label class="form-check-label" for="checkboxID"></label>
                    </div>`
                    actions += `<li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                        <a class="delete-btn text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#deleteOrder" data-url="${deleteURL.replace('0', row.code)}">
                            <i class="ri-delete-bin-5-fill fs-16"></i>
                        </a>
                    </li>`;

                    actions += `</ul>`;
                    return actions;
                } else {
                    // Non-ADMIN user
                    return `<ul class="list-inline hstack gap-2 mb-0">
                        <li class="list-inline-item edit" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Edit">
                            <a href="javascript:void(0);" class="text-primary d-inline-block edit-item-btn" onclick="showAlert('${row.code}');">
                                <i class="ri-pencil-fill fs-16"></i>
                            </a>
                        </li>
                        <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top" title="Remove">
                            <a class="delete-btn text-danger d-inline-block remove-item-btn" data-bs-toggle="modal" href="#" onclick="showAlert('${row.code}');">
                                <i class="ri-delete-bin-5-fill fs-16"></i>
                            </a>
                        </li>
                        </ul>`;
                }
            },
        },
    ]
});
function showAlert(code) {
    console.log('Show alert for row with code:', code);
    document.getElementById("customAlert").style.display = "block";
}
$(document).ready(function(){
 
    // Update the Delete URL in Delete Confirm Modal
    $('#LoadPatternTable').on('click', '.delete-btn', (event) => {
        $('#delete-record').attr('href', $(event.currentTarget).data('url'))
    })
    
    // Filters for table
    $('#id_search').on('keyup', function () {
        table.search( this.value ).draw();
    } );
    $('.checkbox').each(function() {
        $(this).on('change', function() {
            var deleteAllButton = $('#deleteAllButton');
            var atLeastOneChecked = false;
            $('.checkbox').each(function() {
                var elements = document.querySelectorAll(".checkbox");
                    elements.forEach(function(element) {
                        if(element.checked){
                            console.log(element.value)
                            recordToDelete.add(element.value)
                        }
                        else{
                            recordToDelete.delete(element.value)
                        }
                    });
                if ($(this).prop('checked')) {
                    atLeastOneChecked = true;
                    return false;
                }
            });
            if (atLeastOneChecked) {
                deleteAllButton.show();
            } else {
                deleteAllButton.hide();
            }
        });
    });
    $('#deleteAllButton').on('click', function(){
        var baseUrl = window.location.origin;
        var recordIds = Array.from(recordToDelete.values());
        $.ajax({
            url: baseUrl + '/pattern/loadpattern/bulkDelete/' ,
            data: JSON.stringify(recordIds),
            method: 'GET',
            {% comment %} data: recordIds,  {% endcomment %}
            success: function () {
                // Success handling
            },
            error: function (error) {
                alert("Error deleting records");
            }
        })
        .done(function() {
            location.reload();
        });

    });
})
$('#LoadPatternTable').on('contextmenu', 'tbody tr', function(e) {
    e.preventDefault();
    var loadPatternData = table.row(this).data();
    var loadPatternCode = loadPatternData.code;
    var baseUrl = window.location.origin;
    $.ajax({
        url: baseUrl + '/api/references/' + loadPatternCode + '/',
        method: 'GET',
        success: function (loadPatternData) {
            $('.dropdown-menu').remove();
            var dropdownMenu = $('<div class="dropdown-menu" role="menu"></div>');
            var taskUrl = baseUrl + '/Task/list?LoadPatternId=' + loadPatternCode;
            dropdownMenu.append('<a class="dropdown-item" href="' + taskUrl + '">Task</a>');
            dropdownMenu.css({
                position: 'absolute',
                left: e.pageX,
                top: e.pageY,
                display: 'block',
            });
            $('body').append(dropdownMenu);
            $(document).on('click.contextMenu', function () {
                dropdownMenu.remove();
                $(document).off('click.contextMenu');
            });
        },
        error: function () {
            console.error('Error fetching load patterns by ID', loadPatternCode);
        }
    });
});    
    
</script>
{% endblock extra_js %}
