{% extends "partials/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %}
    Attribute Details
{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Attribute" title="Attribute Details" %}
                {% endblock pagetitle %}
                <div class="row">
                    <div class="col-xl-9">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h5 class="card-title flex-grow-1 mb-0">Attribute</h5>
                                    <div class="flex-shrink-0"></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="pt-3">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <table class="table table-borderless">
                                                <tr>
                                                    <th>Code</th>
                                                    <td>{{ attribute.code }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Class ID</th>
                                                    <td>{{ attribute.class_id }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Source Name</th>
                                                    <td>{{ attribute.source_name }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Target Name</th>
                                                    <td>{{ attribute.target_name }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Source Description</th>
                                                    <td>{{ attribute.source_description }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Target Description</th>
                                                    <td>{{ attribute.target_description }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Source Ordinal Position</th>
                                                    <td>{{ attribute.source_ordinal_position }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Target Ordinal Position</th>
                                                    <td>{{ attribute.target_ordinal_position }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Source Data Type</th>
                                                    <td>{{ attribute.source_data_type }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Target Data Type</th>
                                                    <td>{{ attribute.target_data_type }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Source Max Length</th>
                                                    <td>{{ attribute.source_max_length }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Target Max Length</th>
                                                    <td>{{ attribute.target_max_length }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Source Precision</th>
                                                    <td>{{ attribute.source_precision }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Target Precision</th>
                                                    <td>{{ attribute.target_precision }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Source Scale</th>
                                                    <td>{{ attribute.source_scale }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Target Scale</th>
                                                    <td>{{ attribute.target_scale }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Is Primary Key</th>
                                                    <td>{{ attribute.is_primary_key }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Is Snapshot Key</th>
                                                    <td>{{ attribute.is_snapshot_key }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Is Nullable</th>
                                                    <td>{{ attribute.is_nullable }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ignore On Ingest</th>
                                                    <td>{{ attribute.ignore_on_ingest }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Created By</th>
                                                    <td>{{ attribute.created_by }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Created Date</th>
                                                    <td>{{ attribute.created_date }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Updated By</th>
                                                    <td>{{ attribute.updated_by }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Updated Date</th>
                                                    <td>{{ attribute.updated_date }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-xl-3">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex">
                                    <h5 class="card-title flex-grow-1 mb-0">Historical Versions</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                                    <form method="post">
                                        {% csrf_token %}
                                        <label for="historical_version">Select a historical version:</label>
                                        <div class="mb-3">
                                            <select name="historical_version" class="select form-control" id="historical_version">
                                                {% for version in historical_versions %}
                                                    <option value="{{ version.history_id }}">
                                                        {{ version.code }} |
                                                        {% if version.history_type == "+" %}
                                                        Created on
                                                        {% else %}
                                                        Updated on
                                                        {% endif %}
                                                        {{ version.history_date }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Restore</button>
                                    </form>
                                </ul>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
        {% block footer %}
            {% include "partials/footer.html" %}
        {% endblock footer %}
    </div>
    <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock extra_js %}
